/* Resume */

#resume {
  .link-to {
    position: relative;
    top: -4.5em;
  }

  .link-container h4 {
    text-decoration: none;
    border-bottom: none;
    display: inline-flex;

    a {
      padding: 0 0.5em;
      margin: 0;
    }
  }

  .education {
    .title {
      text-align: center;
      margin-bottom: 2em;
    }
  }
  .experience {
    .title {
      text-align: center;
    }
    .job {
      margin: 1em;
      p {
        margin: 0;
      }
    }
  }

  .jobs-container {
    .points {
      li {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
      }
    }
  }

  .courses {
    padding-top: 1.6em;
    .title {
      text-align: center;
      margin-bottom: 2.5em;
    }
    .course-category {
      margin-bottom: 3em;

      .category-title {
        text-align: center;
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #666;
        margin-bottom: 1.5em;
        padding-bottom: 0.5em;
        border-bottom: 2px solid rgba(160, 160, 160, 0.3);
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .course-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.8em 1.5em;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .skills {
    margin-top: 2em;
    .title {
      text-align: center;
      p {
        font-size: 0.9em;
      }
    }
  }

  .summary {
    margin-bottom: 0.5em;
    font-size: 0.9em;
  }

  .references {
    margin: 2em 0;
    .title {
      text-align: center;
    }
  }
}

.daterange {
  margin-bottom: 0.2em;
}

.degree-container {
  h4 {
    font-weight: normal;
  }

  .degree {
    margin-bottom: 0.1em;
    text-transform: none;
    letter-spacing: 0.16em;
    font-size: 0.8em;
  }

  .school {
    text-transform: none;
    padding-top: 0.3em;
    margin-bottom: 1em;
  }
}

.course-item {
  margin: 0;
  padding: 0;
}

.course-title {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #666;
  text-align: center;
  display: inline-block;
  padding: 0.4em 0;
  transition: color 0.2s ease;

  &:hover {
    color: #333;
  }
}

@include breakpoint(small) {
  .courses .course-list {
    gap: 0.6em 1em;
  }

  .course-title {
    font-size: 0.7em;
  }
}
